<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-4 fw-bold mb-4 position-relative home-title">
                    Write down your thoughts as the inspiration comes...
                </h1>
                <p class="fs-4 mb-4">
                    My Notepad is a simple and easy to use application that allows you to write down your thoughts as the inspiration comes...
                    Made with Node Js, Express, EJS and PostgreSQL
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Let's do this!</a>
            </div>

        </div>
    </main>
</div>